@media screen and (min-width: 320px) {
  .contacts__lists {
    display: block;
    padding-top: 15px;
  }

  .contacts__item {
    flex: 1 1 100%;
    min-width: 170px;
  }
  .contacts__link {
    display: flex;
    align-items: center;
    color: $gray-color;
    cursor: pointer;
    transition: color $transion;
  }
  .contacts__link:hover {
    color: $second-color;
  }
  .icon-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: transparent;

    border: 1px solid $second-color;
    box-shadow: 4px 2px 100px 1px #147f6f;
  }
  .icon-circle:hover {
    background-color: rgb(18, 175, 152, 0.5);
  }

  .icon {
    width: 20px;
    height: 20px;
  }
}
@media screen and (min-width: 540px) {
  .contacts__lists {
    display: flex;
    flex-wrap: wrap;
  }
  .contacts__item {
    flex-basis: calc(50% - 15px);
  }
}

.item {
  flex: 1 1 48%; /* два елементи на рядок */
  min-width: 150px;
}
@media screen and (min-width: 920px) {
  .contacts__lists {
    flex-wrap: nowrap;
    gap: 20px;
  }
}
