.page {
  display: block;
  background: linear-gradient(to top, #071a17, #0c443b);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: -1;
}
