.section {
  padding: 100px 0px;
}
.section__title2 {
  font-size: 18px;
  color: $second-color;

  font-weight: 500;
}
.section__title {
  font-size: 22px;
  color: $premiary-color;
  font-weight: 500;
}
