/*.root {
  --accent-color: #0f7162;
  --second-color: #12af98;
  --white-color: #fff;
  --card-button-color: #2c4da1;
  --card-decoration-color: #00a5ea;
  --background-color: #5b5858;
  --textcolor: #1a1616;
  --titlefonth2: 32px;
  --titlefont: 18px;
  --text-font-size: 16px;
  --transion: 250ms linear cubic-bezier(0.4, 0, 0.2, 1);
}*/

// SASS ЗМІННІ
$accent-color: #0f7162;
$second-color: #12af98;
$premiary-color: #e5ca15;
$white-color: #fff;
$gray-color: #cbc7c7;
$transion: 250ms linear cubic-bezier(0.4, 0, 0.2, 1);
