.section__portfolio {
  position: relative;
  background-image: url('../image/kod3.png');
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.2; /* Це зробить фон напівпрозорим */
}
.portfolio__description {
  position: relative;
}
.portfolio__list {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.portfolio__text {
  color: $white-color;
}
.portfolio__name {
  color: $second-color;
}
.portfolio__link {
  color: $accent-color;
}
.portfolio__inner {
  color: $gray-color;
}
