* {
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', 'Roboto', Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to top, #071a17, #0c443b);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0px;
  width: 100vw;
  height: 100vh;
  color: #212121;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
p {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}
@media screen and (min-width: 320px) {
  .section__profile {
    padding-top: 60px;
    position: relative;
  }
  .section__container-profile {
    padding-top: 20px;
    display: inline-block;
  }
  .text {
    color: $white-color;
    font-size: 16px;
    font-weight: 400;
  }

  .skills {
    @include flex(flex, column, null, center, 15px);
  }
  .skill {
    display: flex;
    gap: 15px;
  }
  .starts {
    display: flex;
    gap: 5px;
    text-align: center;
  }
  .skill__figma {
    gap: 50px;
    display: flex;
  }
  .skill__html {
    gap: 50px;
    display: flex;
  }
  .skill__css {
    gap: 66px;
    display: flex;
  }
  .skill__js {
    gap: 32px;
    display: flex;
  }
  .skill__react {
    gap: 50px;
    display: flex;
  }
  .skill__node {
    gap: 48px;
    display: flex;
  }
  .start {
    fill: #e9e8e3;
    stroke: black;
    stroke-width: 4px;
  }

  .start-node:nth-child(-n + 2) {
    fill: #ffcc48;
  }
  .start-react:nth-child(-n + 2) {
    fill: #ffcc48;
  }
  .start-js:nth-child(-n + 4) {
    fill: #ffcc48;
  }
  .start-html,
  .start-css {
    fill: #ffcc48;
  }
  .start-fotoshop:nth-child(-n + 4) {
    fill: #ffcc48;
  }
  .start-figma:nth-child(-n + 4) {
    fill: #ffcc48;
  }
}
