@font-face {
  font-family: 'Berlin Sans';
  src: local('Berlin Sans'), local('Berlin Sans'),
    url(../fonts/berlin_sans/berlinsans.otf) format('otf'),
    url(../fonts/berlin_sans/berlinsans.ttf) format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
